saas.rkn.fail {
    encode zstd gzip
    request_body {
        max_size 64KB
    }
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
        Strict-Transport-Security "max-age=31536000"
        -Server
    }
    reverse_proxy saas-web:3000
}
